<%- include("header") -%>
<h2>This is About my page</h2>
<p>This is the page i have created by the guidence of udemy which tell you about
what are the things to be done i.e to do list</p>
<%- include("footer") -%>
