<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
    <body>
       <div class="topnav">
        <form action="/Home" method="POST">
        <button class="tablinks" >Home</button>
        </form>
        <form action="/College" method="POST">
          <button class="tablinks" >College</button>
          </form>
          <form action="/technical" method="POST">
            <button class="tablinks" >technical</button>
            </form>
          <form action="/Office" method="POST">
            <button class="tablinks" >Office</button>
            </form>
            <form action="/work-1" method="POST">
              <button class="tablinks" >Work-1</button>
              </form>
              <form action="/work-2" method="POST">
                <button class="tablinks" >Work-2</button>
                </form>
                <form action="/work-3" method="POST">
                  <button class="tablinks" >Work-3</button>
                  </form>
          <form action="/about" method="POST">
            <button class="tabright" >About</button>
            </form>

        </div> 